* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  display: none;
}
body {
  background-color: rgb(161, 238, 212);
  background-size: cover;

  opacity: 90%;
}

h2 {
  padding: 1rem;
  margin-left: 1rem;
  text-align: left;
  font-style: oblique;
  font-size: xx-large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration-line: underline;
}

.form-group {
  text-align: left;
  justify-content: center;
  height: 70%;
  flex-direction: column;
  border-width: 1.3rem;
  border-radius: 30px;
  margin-top: 5px;
  font-size: 100%;
  border-color: tomato;
  padding: 10px;
  margin-left: 5px;
}

.form-group {
  border-radius: 30px;
  margin-right: 10px;
  text-align: justify;
  padding-left: 70px;
}

h3 {
  padding-left: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form-input {
  font-size: larger;
  border-radius: 7px;
}

p {
  font-size: 20px;
}

button {
  font-size: 15px;
  font-weight: bold;
  background-color: lightgreen;
  border-radius: 10px;
}

label {
  font-size: 20px;
  font-weight: bold;
}
